.App {
    width: 100%;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    min-height: 100vh;
}

.container {
    margin-top: 5px;
}

.search {
    position: relative;
}

.search input {
    height: 60px;
    text-indent: 25px;
    font-size: 24px;
    border: 2px solid #d6d4d4;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}


.search input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}
